
.icons h1 i{
    display: inline-block;
    position: relative;
    top: 9px;
    left: 0;
    text-align: center;
    font-size: 35px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    color: #111;
    box-shadow: 0 0 0 10px #0046c0;
    background-color: #f1f1f1;
    margin-right: 25px;
    
}
.information h1{
    font-family: Poppins,sans-serif;
    
}