.Header-details-box{
    margin-right: 30px;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    
}
.navbarr{
    border-bottom: 1px solid rgb(236, 229, 229);
    
}
.Header-details-box .Header-details-icon{
    float: left;
    text-align: center;
    min-width: 40px;
    margin-right: 15px;
    font-size: 18px;
    display: block;
    background-color: #0087be;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    width: 50px;
    border-radius: 10%;
}
.Header-details-box .Header-details-info{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    
}
